html {
  height: 100%;
  width: 100%;
}
#pic{
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: 100%;
  display: block;
  background-color: black;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  border-collapse: 100%;
  display: block;
  align-items: tops;
  background-color: black;
}